.h1 {
    color: orange;
    text-align: center;
}

.h2 {
    color: yellow;
    text-align: left;

}

.liste-formations {
    color: rgb(0, 88, 147);
    tex-align: left;

}

.h3 {
    color: rgb(7, 97, 1);
}

.h4 {
    color: purple;
}